{% for post in site.related_posts limit: 4 %}
    <a href="{{ post.url }}">
        <article class="card small hoverable">
            <div class="card-image">
                <img class="lazy" data-src="{{ post.image }}?nf_resize=fit&w=300" alt="{{ post.title }}" data-srcset="{{ post.image }}?nf_resize=fit&w=255">
            </div>

            <div class="card-content">
                <p class="bold grey-text text-darken-4">{{ post.title }}</p>
            </div>
        </article>
    </a>
{% endfor %}